<!doctype html>
<html lang="ja">
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <script src="https://mo4koma.iranika.info/4komaData.js"></script>
    <script src="https://iranika.github.io/mo-yoyaku/goyoyaku.js"></script>
  </head>
  <body>
    <!-- quasar:entry-point -->
    <script type="text/javascript">blogparts={"base":"https://www.dlsite.com/","type":"circle","site":"home","circle_key":"桃色CODE","query":{"keyword_maker_name":"RG24350","order":"release_d","ana_flg":"all"},"title":"サークル作品","display":"horizontal","detail":"1","column":"v","image":"medium","count":"3","wrapper":"1","autorotate":true,"aid":"momoco"}</script><script type="text/javascript" src="https://www.dlsite.com/js/blogparts.js" charset="UTF-8"></script>
  </body>
</html>
